<link rel="stylesheet" type="text/css" href="/assets/findStoreInfo_style.css">

<header>
  <div class="head-info">
    <div class="container-fluid">
      <div class="row vertical-align">
        <div class="col-xs-4 title">
          <div class="row vertical-align">
            <div class="col-xs-4 before-title"></div>
            <div class="col-xs-8">
              <!-- 선택한 가게이름 가져와야 합니당 -->
              <div class="restaurant-title"><%= @store.store_name %></div>
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <!-- 매장주가 입력한 한줄소개 -->
          <div class="detail-introduce"><%= @store.store_information %></div>
        </div>
      </div>
    </div>
  </div>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="container-fluid">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="<%= @store.store_menu_img1 %>">
        </div>
        <div class="item">
          <img src="<%= @store.store_menu_img2 %>">
        </div>
        <div class="item">
          <img src="<%= @store.store_menu_img3 %>">
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</header>
<div class="detail-info">
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-4">
        <div class="first-info-title">잔여<br>좌석수</div>
      </div>
      <div class="col-xs-4">
        <div class="second-info-title">단체석</div>
      </div>
      <div class="col-xs-4">
        <div class="third-info-title">전화번호</div>
      </div>
    </div>
    <div class="row vertical-align">
      <div class="col-xs-4">
        <div class="first-info">
          <div class="row vertical-align">
            <div class="col-xs-4 remain-seats"><%= @store.store_seat_count %></div>
            <div class="col-xs-4 partition">/</div>
            <div class="col-xs-4 total-seats"><%= @store.store_seat_total %></div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="second-info">
          <div class="row vertical-align">
            <div class="col-xs-4 chair"><img src="https://image.flaticon.com/icons/svg/115/115352.svg"></div>
            <div class="col-xs-4 multiply">X</div>
            <div class="col-xs-4 group-size"><%= @store.store_group %></div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="third-info">
          <div class="phone-number"><%= @store.store_contact %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="store-comments">
  <div class="container-fluid comment-box">
    <div class="row vertical-align">
      <div class="col-xs-3"></div>
      <div class="col-xs-6 comment-start">여러분의 후기를 등록해주세요!</div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row vertical-align">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <form action='/store_comments/create/<%= @store.id%>' method ='post'>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="row vertical-align input-comment">
            <div class="col-xs-10">
              <input type = 'textarea' name = 'storeComment' class="form-control" placeholder = '댓글을 남겨주세요 ....'>
            </div>
            <div class="col-xs-2">
              <button type='submit' class= 'btn btn-outline-primary'>제출</button>
            </div>
          </div>
        </form>
      <div class="col-xs-2"></div>
      </div>
    </div>
    <div class="comments-list">
      <table>
        <% @store.store_comments.each do |comment| %>
          <tr>
            <td>
              <%= comment.content%>
              <% if current_user != nil && current_user.permission == 2 %>
                <a href ='/store_comments/delete/<%= @store.id  %>/<%= comment.id %>'>삭제</a>
              <% end %>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>