<h1>나의 가게 MYPAGE</h1>
<h2>가게이름 : <%= @store.store_name %></h2>
<h2>가게 대표 사진 :<img src='<%= @store.store_img %>'/></h2>
<h2>가게 메뉴 사진 :<img src='<%= @store.store_menu_img1%>'/></h2>
<h2>가게 메뉴 사진 :<img src='<%= @store.store_menu_img2%>'/></h2>
<h2>가게 메뉴 사진 :<img src='<%= @store.store_menu_img3%>'/></h2>
<h2>가게 설명 : <%= @store.store_information %></h2>
<h2>가게 전화번호 : <%= @store.store_contact %></h2>
<h2>가게 단체 보유석 : <%= @store.store_group %></h2>
<h2>가게 주소 : <%= @store.store_address %></h2>